/dts-v1/;
/plugin/;

#include <dt-bindings/power/rk3588-power.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable Raspberry Pi Camera V2 3";
		compatible = "adakta,adakta-ad-rk3588";
		category = "camera";
		description = "Enable Raspberry Pi Camera V2 3";
	};

	fragment@0 {
		target = <&i2c7>;

		__overlay__ {
			status = "okay";

			cam3_imx219: cam3_imx219@10 {
				status = "okay";

				compatible = "sony,imx219";
				reg = <0x10>;

				power-domains = <&power RK3588_PD_VI>;
				rockchip,grf = <&sys_grf>;

				pinctrl-names = "default";
				pinctrl-0 = <&aw9523_cam3_reset_pins>;

				reset-gpios = <&aw9523 6 GPIO_ACTIVE_HIGH>;

				clocks = <&clk_cam_24m>;
				clock-names = "xvclk";

				VANA-supply = <&camera_vdda_2v8>;  /* 2.8v */
				VDIG-supply = <&camera_vdddo_1v8>; /* 1.8v */
				VDDL-supply = <&camera_vddd_1v2>;  /* 1.2v */

				rockchip,camera-module-index = <3>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "rpi-camera-v2";
				rockchip,camera-module-lens-name = "default";

				port {
					cam3_imx219_out: endpoint {
						status = "okay";
						remote-endpoint = <&mipi_in_dphy2>;
						data-lanes = <1 2>;
						clock-noncontinuous;
						link-frequencies = /bits/ 64 <456000000>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_in_dphy2>;

		__overlay__ {
			remote-endpoint = <&cam3_imx219_out>;
			data-lanes = <1 2>;
		};
	};

	fragment@2 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&csi2_dphy0_hw>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&csi2_dphy2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&mipi3_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rkcif_mipi_lvds3>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&rkcif_mipi_lvds3_sditf>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkisp1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&isp1_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@11 {
		target = <&rkisp1_vir1>;

		__overlay__ {
			status = "okay";
		};
	};
};
