/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable OV5640 MIPI-CSI Camera 4";
		compatible = "adakta,adakta-ad-rk3588";
		category = "camera";
		description = "Enable OV5640 MIPI-CSI Camera 4";
	};

	fragment@0 {
		target = <&i2c3>;

		__overlay__ {
			status = "okay";

			cam4_ov5640: cam4_ov5640@3c {
				status = "okay";

				compatible = "ovti,ov5640";
				reg = <0x3c>;

				pinctrl-names = "default";
				pinctrl-0 = <&aw9523_cam4_powerdown_pins &aw9523_cam4_reset_pins>;

				reset-gpios = <&aw9523 8 GPIO_ACTIVE_LOW>;
				powerdown-gpios = <&aw9523 9 GPIO_ACTIVE_HIGH>;

				clocks = <&clk_cam_25m>;
				clock-names = "xclk";

				AVDD-supply = <&camera_vdda_2v8>;
				DOVDD-supply = <&camera_vdddo_1v8>;
				DVDD-supply = <&camera_vddd_1v5>;

				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "KLT-KD6-OV5640";
				rockchip,camera-module-lens-name = "default";

				port {
					cam4_ov5640_out: endpoint {
						remote-endpoint = <&mipi_in_dcphy0>;
						data-lanes = <1 2>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_in_dcphy0>;

		__overlay__ {
			remote-endpoint = <&cam4_ov5640_out>;
			data-lanes = <1 2>;
		};
	};

	fragment@2 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&csi2_dcphy0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&mipi0_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkcif_mipi_lvds>;

		__overlay__ {
			status = "okay";
		};
	};
};
