/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rk3588-cru.h>
#include <dt-bindings/power/rk3588-power.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable OV5640 MIPI-CSI Camera 5";
		compatible = "adakta,adakta-ad-rk3588";
		category = "camera";
		description = "Enable OV5640 MIPI-CSI Camera 5";
	};

	fragment@0 {
		target = <&i2c4>;

		__overlay__ {
			status = "okay";

			cam5_ov5640: cam5_ov5640@3c {
				status = "okay";

				compatible = "ovti,ov5640";
				reg = <0x3c>;

				pinctrl-names = "default";
				pinctrl-0 = <&aw9523_cam5_powerdown_pins &aw9523_cam5_reset_pins>;

				reset-gpios = <&aw9523 11 GPIO_ACTIVE_HIGH>;
				powerdown-gpios = <&aw9523 10 GPIO_ACTIVE_LOW>;

				clocks = <&ext_cam_clk>;
				clock-names = "xclk";

				AVDD-supply = <&camera_vdda_2v8>;
				DOVDD-supply = <&camera_vdddo_1v8>;
				DVDD-supply = <&camera_vddd_1v5>;

				rockchip,camera-module-index = <5>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "KLT-KD6-OV5640";
				rockchip,camera-module-lens-name = "default";

				port {
					cam5_ov5640_out: endpoint {
						remote-endpoint = <&mipi_in_dcphy1>;
						data-lanes = <1 2 3 4>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_in_dcphy1>;

		__overlay__ {
			remote-endpoint = <&cam5_ov5640_out>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@2 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&mipi_dcphy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&csi2_dcphy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&mipi1_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rkcif_mipi_lvds1>;

		__overlay__ {
			status = "okay";
		};
	};
};
