/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rk3588-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable OV5640 MIPI-CSI Camera 1";
		compatible = "adakta,adakta-ad-rk3588";
		category = "camera";
		description = "Enable OV5640 MIPI-CSI Camera 1";
	};

	fragment@0 {
		target = <&i2c4>;

		__overlay__ {
			status = "okay";

			cam1_ov5640: cam1_ov5640@3c {
				status = "okay";

				compatible = "ovti,ov5640";
				reg = <0x3c>;

				pinctrl-names = "default";
				pinctrl-0 = <&mipim0_camera2_clk &aw9523_cam1_powerdown_pins &aw9523_cam1_reset_pins>;

				reset-gpios = <&aw9523 2 GPIO_ACTIVE_LOW>;
				powerdown-gpios = <&aw9523 3 GPIO_ACTIVE_HIGH>;

				clocks = <&cru CLK_MIPI_CAMARAOUT_M2>;
				clock-names = "xclk";

				AVDD-supply = <&camera_vdda_2v8>;
				DOVDD-supply = <&camera_vdddo_1v8>;
				DVDD-supply = <&camera_vddd_1v5>;

				rockchip,camera-module-index = <1>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "KLT-KD6-OV5640";
				rockchip,camera-module-lens-name = "default";

				port {
					cam1_ov5640_out: endpoint {
						remote-endpoint = <&mipi_in_dphy5>;
						data-lanes = <1 2>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_in_dphy5>;

		__overlay__ {
			remote-endpoint = <&cam1_ov5640_out>;
			data-lanes = <1 2>;
		};
	};

	fragment@2 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&csi2_dphy5>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&mipi5_csi2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkcif_mipi_lvds5>;

		__overlay__ {
			status = "okay";
		};
	};
};
