// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Adakta, Ltd.
 *
 */

/ {
	panel-edp {
		compatible = "simple-panel";
		prepare-delay-ms = <120>;
		enable-delay-ms = <120>;
		unprepare-delay-ms = <120>;
		disable-delay-ms = <120>;

		display-timings {
			native-mode = <&edp_timing>;

			edp_timing: edp-timing {
				clock-frequency = <125000000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <180>;
				hfront-porch = <120>;
				vback-porch = <10>;
				vfront-porch = <10>;
				hsync-len = <20>;
				vsync-len = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			panel_in_edp: endpoint {
				remote-endpoint = <&edp_out_panel>;
			};
		};
	};
};

&pinctrl {
	edp {
		edp_hpd: edp-hpd {
			rockchip,pins = <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&edp {
	pinctrl-names = "default";
	pinctrl-0 = <&edp_hpd>;

	hpd-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			edp_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp>;
			};
		};
	};
};

&edp_in_vp0 {
	status = "okay";
};

&edp_phy {
	status = "okay";
};

&route_edp {
	connect = <&vp0_out_edp>;
	status = "okay";
};
